---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const recipe={
			img:'images/image-omelette.jpeg',
			title:"Simple Omelette Recipe",
			description:"An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats.",
			pretime:{
				total:10,
				preparation: 5,
				cooking:5
			},
			ingredients:["2-3 large eggs",
			"Salt, to taste","Pepper, to taste",
			"1 tablespoon of butter or oil",
			"Optional fillings: cheese, diced vegetables,cooked meats,herbs"],
			Instructions: "Beat the eggs: In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed.\
		You can add a tablespoon of water or milk for a fluffier texture.\
		Heat the pan: Place a non-stick frying pan over medium heat and add butter or oil.\
		Cook the omelette: Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure \
		the eggs evenly coat the surface.\
		Add fillings (optional): When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen fillings over one half of the omelette.\
		Fold and serve: As the omelette continues to cook, carefully lift one edge and fold it over the fillings. Let it cook for another minute, then slide it onto a plate.\
		Enjoy: Serve hot, with additional salt and pepper if needed.",
		nutrition:{
			desc:"The table below shows nutritional values per serving without the additional fillings.",
			calories:277, 
			carbs:0,
			protein:20,
			fat:22,
		}
	};
const {img,title,description,pretime,ingredients}= recipe
---

<Layout title="Welcome to Astro.">
	<main>
		<img src={img} alt="">
		<h1>{title}</h1>
		<p>{description}</p>
		<section>
			<h2>Preparation time</h2>
			<ol>
				{Object.entries(pretime).map(([key,item])=><li><strong>{key}:</strong> {key=='total' ? 'Aproximately '+item :item} minutes</li>)}
			</ol>
		</section>
		<h3>Ingredients</h3>
		<ol>
			{ingredients.map((item)=><li>{item}</li>)}
		</ol>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
